
.ModalContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    left: 0px;
    top: 0px;
    position: fixed;

    z-index: 100;
    background-color: rgba(127, 255, 212, 0.295);
}

.BodyContainer {
    display: flex;
    flex-direction: column;

    min-width: 280px;
    min-height: 150px;

    background-color: black;
    border: solid white 3px;
    border-radius: 4px;

}

.BodyContainer h2 {
    color: white;

    font-family: Hanken Grotesk;
    font-weight: bold;
    font-size: 20px;
}

.TitleContainer {
    flex: 4
}

.ActionContainer {
    flex: 1
}